// Variables
$color-branco: #FFFFFF;
$color-laranja: #eb7201;

$color-azul-logo: #003399;
$color-azul-claro: #1b67ff;

$color-bege: #EFE9E5;
$color-bege-escuro: #cec8c3;

$color-verde: #0fb141;
$color-verde-escuro: #188c3c;

$color-vermelho: #ff003b;
$color-vermelho-escuro: #bc002b;
