@import "../../../styles/variables.scss";

.content-menu{
  background: $color-laranja;

  img{
    width: 50px;
    padding: 15px 0 ;
    display: block;
    margin: 0 auto 10px;
  }
  a.nav-link{
    color: $color-branco;
    font-weight: bold;
  }
  a.active{
    border-bottom: 3px solid $color-branco;
  }
}
