<article class="content-balance row" *ngIf="getVals">
  <section class="card col-4">
    <article class="card-body">
      <h5 class="card-title">Receitas</h5>
      <p class="card-text" *ngIf="getVals?.receita">{{getVals?.receita}}</p>
      <p class="card-text" *ngIf="!getVals?.receita"> 0 </p>
    </article>
  </section>

  <section class="card col-4">
    <article class="card-body">
      <h5 class="card-title">Despesas</h5>
      <p class="card-text" *ngIf="getVals?.despesa">-{{getVals?.despesa}}</p>
      <p class="card-text" *ngIf="!getVals?.despesa"> 0 </p>
    </article>
  </section>

  <section class="card col-4">
    <article class="card-body">
      <h5 class="card-title">Saldo</h5>
      <p class="card-text" *ngIf="getVals?.balance">{{getVals?.balance}}</p>
      <p class="card-text" *ngIf="!getVals?.balance"> 0 </p>
    </article>
  </section>
</article>
